@{
    ViewBag.Title = "About";
}
<body background="https://i1.wp.com/www.jorgecobos.com/wp-content/uploads/2016/02/fondos-de-pantalla-chulos-2-grande.png">

</body>

<div>
    <img src="https://bizcochospedia.com/imagenes/la-importancia-de-la-buena-materia-prima-en-la-reposteria.jpg" width="300" />
    <p></p>
    <h2>Si eres un amante de la pastelería, aprende a distinguir sabores y calidad con nuestros productos artesanales</h2>
    <br />
    <p>
        Sugar Monkey nace con la ilusión de ofrecer productos de elaboración propia con ingredientes de calidad  y 100% artesanales;
        cuidando tanto la selección de sus materias primas,  como el proceso de elaboración; complaciendo a los gustos más exigentes en sabor,
        presentación, calidad y precio. Además buscamos constantemente innovar.

        Nuestro servicio es personalizado, amable y puntual.
    </p>
</div>