@{
    ViewBag.Title = "Contact";
}
<h2>Soporte</h2>

<body background="https://fondosmil.com/fondo/3395.jpg">

</body>
<address>
    Rio Segundo<br/>
    Alajuela,Costa Rica<br/>

</address>

<address>
    <strong>Support:</strong> <a href="sugarmonkeycr@gmail.com">sugarmonkeycr@gmail.com</a><br/>
    <strong>Telefono:</strong> <strong> 8363-2382</strong>
</address>