
@{
	ViewBag.Title = "Product";
}

<br />
<br />

<h2>Productos</h2>

@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmProduct" }))
{
	<br />
	<br />

	<div class="row col-lg-12">

		<h4>Galletas</h4>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

	</div>

	<div class="row col-lg-12">

		<h4>Figuras en marshmallows</h4>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

	</div>

	<div class="row col-lg-12">

		<h4>Bocadillos</h4>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

	</div>

	<div class="row col-lg-12">

		<h4>Queques</h4>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

	</div>

	<div class="row col-lg-12">

		<h4>Especialidades</h4>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

	</div>

	<div class="row col-lg-12">

		<h4>Postres</h4>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

	</div>

	<div class="row col-lg-12">

		<h4>Navidad</h4>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

		<div class="col-lg-3 form-group">
			<div class="col-md-12">

			</div>
		</div>

	</div>

}
