* {
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
}

body {
    background: #f3f3f3;
    color: #3a3a3a;
    font-family: 'robotoregular';
    font-size: 13px;
    line-height: normal;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    text-decoration: none;
}

input, textarea, select {
    color: #3a3a3a;
    font-family: 'robotoregular';
    font-size: 14px;
    outline: none;
    vertical-align: middle;
}

form { margin: 0 !important; }

.clr { clear: both !important; }

.fl { float: left !important; }

.fr { float: right !important; }

.vAlign { vertical-align: middle !important; }

img { border: none; }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

p.last { padding-bottom: 0; }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

}

.black { color: #000000 !important; }

.clearfix:before, .clearfix:after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after { clear: both; }

.main-cont { width: 100%; }

/*------------Header Part------------*/

.headertop {
    background: #fff;
    border-bottom: #e5e5e5 solid 1px;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 200;
}

.logo {
    display: inline-block;
    padding: 5px 0 5px 10px;
}

.logo img { width: auto; }

.header-right {
    display: inline-block;
    float: right;
}

.header-right span {
    /*border-left:#ccc solid 1px;*/
    color: #4a83d4;
    display: inline-block;
    font-size: 17px;
    height: 60px;
    line-height: 24px;
    padding: 17px 5px;
    position: relative;
    vertical-align: top;
}

.header-right span a { color: #333; }

.header-right span a { color: #4a83d4; }

.settingList {
    background: #fff;
    border: #e5e5e5 solid 1px;
    display: none;
    position: absolute;
    right: 5px;
    top: 58px;
    width: 150px;
    z-index: 9;
}

.settingList:after {
    border-bottom: 10px solid #e5e5e5;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    position: absolute;
    right: 20px;
    top: -10px;
    width: 0;
}

.settingList ul li { display: block; }

.settingList ul li a {
    border-bottom: #e5e5e5 solid 1px;
    color: #666;
    display: block;
    font-size: 13px;
    line-height: 20px;
    padding: 5px 10px;
}

.settingList ul li a:hover { color: #4a83d4; }

.settingList ul li:last-child a { border-bottom: 0; }

/*-----------*/

.micCont { width: 100%; }

.leftPart {
    background: #fff;
    border-right: #e5e5e5 solid 1px;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 58px;
    width: 270px;
}

.naviList {
    margin-bottom: 50px;
    padding: 15px;
}

.naviList ul li {
    display: block;
    margin-bottom: 5px;
}

.naviList ul li.last-item { margin-bottom: 50px; }

.naviList ul li a {
    background: #f9f9f9; /* Old browsers */
    border: 1px solid #e5e5e5;
    color: #666;
    display: block;
    font-family: 'robotomedium';
    font-size: 15px;
    line-height: 35px;
    padding: 0 0 0 10px;
    position: relative;
}

.naviList ul li a span {
    border-left: 1px solid #e5e5e5;
    display: inline-block;
    float: right;
    height: 35px;
    position: absolute;
    right: 0;
    width: 27px;
}

.naviList ul li a span::before {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #999;
    content: "";
    position: absolute;
    right: 7px;
    top: 17px;
    width: 0;
}

.naviList ul li a.active {
    background: #4a83d4 none repeat scroll 0 0;
    border: 1px solid #4a83d4;
    color: #fff;
}

.naviList ul li a.active span::before {
    border-bottom: 6px solid #fff;
    border-top: 0;
}

.naviList ul li a.active span { border-left: 1px solid #69a2f3; }

.naviList ul li a.active.rightArrow span::before {
    border-bottom: 6px solid transparent;
    border-left: 6px solid #fff;
    border-top: 6px solid transparent;
    right: 3px;
    top: 12px;
}

ul.subnav {
    background: #fff;
    display: none;
}

ul.subnav li {
    border: 0;
    display: block;
    margin: 0;
}

ul.subnav li a {
    background: #fff;
    display: block;
    font-family: 'robotoregular';
    font-size: 14px;
    line-height: 20px;
    padding: 8px 5px 8px 10px;
}

ul.subnav li a:hover {
    background: #f5f5f5;
    color: #4a83d4;
}

.subnav a { margin-top: -1px; }

ul.subnav li a.current {
    background: #f5f5f5;
    color: #4a83d4;
}

/*------------*/

.rightpart {
    padding-left: 270px;
    width: 100%;
}

.sechBx {
    border-bottom: #e5e5e5 solid 1px;
    padding: 7px 20px;
    width: 100%;
}

.searchBx {
    display: inline-block;
    float: right;
    position: relative;
    width: 350px;
}

.srchInp {
    background: #fff;
    border: #eee solid 1px;
    color: #999999;
    font-size: 14px;
    height: 40px;
    padding: 0 40px 0 10px;
    width: 100%;
}

.srch-icon {
    position: absolute;
    right: 2px;
    top: 2px;
}

.bretcrum {
    color: #666;
    display: inline-block;
    float: left;
    font-family: 'robotomedium';
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0px;
}

.bretcrum a { color: #333333; }

.bretcrum a:hover { color: #4a83d4; }

.bretcrum span { color: #999; }

.dashBx {
    padding: 20px;
    /*max-width: 1000px;*/
}

.box {
    background-color: rgba(103, 101, 101, 0.24);
    border: 2px solid rgba(25, 24, 24, 0.24);
    border-radius: 100%;
    display: inline-block;
    height: 138px;
    margin: 41px 41px;
    position: relative;
    vertical-align: middle;
    width: 138px;
}

.box .boxContent {
    color: #423737 !important;
    font-size: 25px !important;
}

.box .boxLabel {
    color: #4a83d4 !important;
    /*font-size: 20px !important;*/
}

.dashboardHD {
    color: #000;
    color: #3a6fbb;
    font-family: 'robotomedium';
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

.dashboardHD2 {
    color: #7b7d7f !important;
    color: #3a6fbb;
    font-family: 'robotomedium';
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: left;
}

.dashformBx2 .box a {
    color: #4A83D4;
    display: block;
    font-size: 17px;
    margin: 60px 0;
    text-align: center;
}

.dashTable { width: 100%; }

.dashTable table {
    background: #fff;
    border: #e0e0e0 solid 1px;
    border-bottom: 0;
    border-right: 0;
    width: 100%;
}

.dashTable table th {
    background: #C1BDBD;
    border-right: #f0f0f0 solid 1px;
    color: #333;
    font-size: 13px;
    padding: 10px 5px;
    text-align: center;
}

.dashTable table td {
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    color: #666;
    font-size: 13px;
    /*line-height: 20px;
            padding: 15px 10px;*/
    padding: 10px 5px;
    position: relative;
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
}

.dashTable table td img { width: 40px; }

.editBtn {
    background: #4a83d4;
    border: none;
    border-bottom: 3px solid #3c6bad;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    margin-left: 0px;
    padding: 5px 10px;
    text-align: center;
    transition: all 0.5s ease 0s;
    vertical-align: top;
    word-break: break-word;
}

.editBtn:hover {
    background: #3a6fbb;
    border-bottom: 3px solid #2b558f !important;
}

/*.dashfrm-L.submitBtns {
    border: 0 none !important;
    max-width: 123px;
}

.submitBtns .editBtn {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
}*/

.submitBtns a, .submitBtns input {
    cursor: pointer;
    display: inline-block;
    margin: 10px 0 -10px 0;
    width: 45%;
}

/*.submitBtns .editBtn {
    vertical-align: middle !important;
}*/

.cancelBtn {
    background: #94979A;
    border-bottom: 3px solid #818284 !important;
    color: white !important;
    cursor: default;
    margin-right: 2%;
}

.cancelBtn:hover {
    background: #818284;
    border-bottom: 3px solid #6E6E6F !important;
}

.delBtn {
    background: #c70302;
    border-bottom: 3px solid #a20a0a;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    /*line-height: 20px;*/
    padding: 5px 10px;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
    vertical-align: top;
    width: 60px;
}

.delBtn:hover {
    background: #ba0202;
    border-bottom: 3px solid #900808;
}

.pager {
    float: right;
    padding: 10px 0;
    text-align: right;
}

.pager ul li { float: left; }

.pager ul li a {
    background: #fff;
    border-bottom: #e0e0e0 solid 1px;
    border-left: #e0e0e0 solid 1px;
    border-top: #e0e0e0 solid 1px;
    color: #333;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 0;
    text-align: center;
    transition: all 0.5s ease;
    width: 30px;
}

.pager ul li a:hover {
    background: #4a83d4;
    color: #fff;
}

.pager ul li a.active {
    background: #4a83d4 !important;
    color: #fff;
}



.pager ul li:last-child a { border-right: #e0e0e0 solid 1px; }

/*------------*/

.dashformBx { padding: 10px 0; }

.dashfrm-L {
    float: left;
    margin-bottom: 20px;
    margin-right: 2%;
    text-align: left;
    width: 32%;
}

.dashfrm-M {
    float: left;
    margin-bottom: 20px;
    margin-right: 2%;
    width: 32%;
}

.dashfrm-R {
    float: right;
    margin-bottom: 20px;
    width: 32%;
}

.dashfrm {
    margin-bottom: 20px;
    width: 100%;
}

.lblTxt {
    color: #333;
    display: block;
    font-size: 14px;
    padding-bottom: 5px;
}

.dashInp {
    border: #e4e4e4 solid 1px;
    box-sizing: border-box;
    color: #666;
    font-size: 14px;
    height: 40px;
    padding: 0 10px;
    width: 100%;
}

.dashformBx.dashformBx2 {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
}

/*------------Admin : Dashboard design------------*/

.recdashDet {
    display: block;
    overflow: hidden;
    position: relative;
}

.candsour-rep {
    display: block;
    margin-bottom: 15px;
}

.cand-rep-L {
    background: #ffffff;
    border: #e4e4e4 solid 1px;
    box-sizing: border-box;
    display: inline-block;
    height: 250px;
    margin-right: 1.5%;
    padding: 10px;
    vertical-align: top;
}

.cand-rep-R {
    background: #ffffff;
    border: #e4e4e4 solid 1px;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    height: 250px;
    padding: 10px;
    vertical-align: top;
}

.inboxHeading {
    color: #000000;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.topJobs { display: block; }

.rowBx {
    display: inline-block;
    margin: 2% auto;
    width: 64%;
}

.rowBx .pie_progress {
    display: block;
    height: 150px;
    margin: auto;
    width: 150px;
}

.reppiechart { padding: 0; }

.rep-totjob-L {
    border: #e4e4e4 solid 1px;
    box-sizing: border-box;
    float: left;
    height: 270px;
    margin-bottom: 15px;
    margin-right: 2%;
    padding: 10px;
    vertical-align: top;
    width: 23.5%;
}

.rep-totjob-R {
    border: #e4e4e4 solid 1px;
    box-sizing: border-box;
    float: right;
    height: 270px;
    margin-bottom: 15px;
    padding: 10px;
    vertical-align: top;
    width: 23.5%;
}

.pie_progress__content img {
    display: block;
    margin: 0 auto;
    width: 20px !important;
}

.applicat-L {
    border: 1px solid #e4e4e4;
    margin-bottom: 15px;
    padding: 10px;
}

.rep-applinum {
    border: 1px solid #e4e4e4;
    margin-bottom: 15px;
    padding: 10px;
}

.latapp-L {
    border: 1px solid #e4e4e4;
    margin-bottom: 5px;
    padding: 10px;
}

/*------------Admin : Master Management design------------*/

.field-validation-error { color: red; }

.dashfrm-R img {
    height: 240px;
    width: 320px;
}

.AddNewContent {
    color: green;
    float: right;
    /*margin-bottom: 5px;*/
    font-size: 15px;
    text-decoration: underline;
}

.NoRecord {
    background-color: #fff;
    border: solid 2px rgb(128, 128, 128);
    font-size: 14px;
    text-align: center;
}

.globalLevel {
    border: #e5e5e5 solid 3px;
    /*position: absolute;*/
    float: right;
    font-size: 16px;
    /*right: 21px;
    top: 20px;*/
    margin-bottom: 10px;
    width: 31%;
}

.globalLevel span {
    font-weight: bold;
    line-height: 30px;
    margin-left: 15px;
}

.globaLanguageList {
    border: #e4e4e4 solid 1px;
    float: right;
    height: 30px;
    margin-left: 5px;
    width: 200px;
}

.globaLanguageList option { border: #e4e4e4 solid 1px; }

.Edit-Img {
    color: #333;
    display: block;
    font-size: 15px;
    margin-top: 20px;
    padding-bottom: 5px;
    position: relative;
    width: 30%;
}

.Edit-Img > img {
    border: #fff solid 5px;
    width: 100%;
}

.edit-icon {
    bottom: 9px;
    position: absolute;
    right: 0;
}

.disablearrow { cursor: not-allowed; }

.ProfileImg { padding: 1px !important; }

.ListButtons { padding: 0 !important; }

.RatingStar img { width: 8px !important; }

.dashfrm textarea { padding-top: 8px; }

.DOB { padding: 0.5rem; }

::-webkit-calendar-picker-indicator {
    background: url(/images/cal-icon-img.png) no-repeat;
    color: rgba(0, 0, 0, 0);
    opacity: 1;
}

.Summary {
    border: 2px solid #C1BDBD;
    font-size: 14px;
    margin-bottom: 20px;
    max-height: 150px;
    overflow: auto;
    padding: 10px 0 0px 10px;
}

.Summary span { font-weight: bold; }

.Report {
    height: 40px !important;
    Padding-top: 10px !important;
}